
 #red {
  background-color: red;
 }

  #red1 {
    background-color: #c60000;
 } 

  #red2 {
    background-color: #ff7c7c;
  }

 #purple {
  background-color: purple;
 }

  #purple2 {
    background-color: #eb3cf2;
  }

 #yellow {
  background-color: yellow;
 }

   #yellow1 {
    background-color: #cec633;
 } 

  #yellow2 {
    background-color: #fff999;
  }

  #green {
  background-color: green;
 }

  #green2 {
    background-color: #7cff6d;
  }

  #black {
  background-color: black;
 }

  #black2 {
    background-color: #ff7c7c;
  }

 #orange {
  background-color: orange;
 }

  #orange1 {
  background-color: #b27f08;
 }
  #orange2 {
  background-color: #ffcb54;
 }

 #blue {
  background-color: blue;
 }

  #blue1 {
  background-color: #5d6baf;
 }
  #blue2 {
  background-color: #778eff;
 }
 

.canvas {
     width: 17px;
   height: 11px;
   text-align: center;
}

.pallete {
     width: 27px;
   height:27px;
   display: inline-block;
}

#selectedColorName {
   width: 15px;
   height:15px;
}

#canvasContainer {
  height: 18px;
  margin: 0%; 
}

.rows {
  margin: 0px 0px 0px 0px;
  padding: .7em;
  width: 150%;
}

.canvas {
  border-style: solid;
  border-color: grey;
  display: inline-block;
  height: 5px;
  margin: 0px 0px 0px 0px; 
  padding: .7em;
  width: 8px;
}




      
